# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.pytest_cache/

# --- Virtual ---
.venv/
venv/
env/
ENV/

# --- PyInstaller ---
build/
dist/
*.spec

# --- OS ---
.DS_Store
Thumbs.db
desktop.ini

# --- IDE ---
.vscode/
.idea/
*.swp
*.swo
